/node_modules/
/lib/
/test/
custom-elements.json
# top level source
slot-machine.js
slot-machine.js.map
slot-machine.d.ts
slot-machine.d.ts.map
# only generated for size check
slot-machine.bundled.js
